<div class="footer">
	<a class="return-to-top" href="#">トップに戻る</a>
	<div class="wrapper clearfix">
		<div class="info">
			<p class="logo"><?php echo $this->Html->link('日神不動産', '/'); ?></p>
			<ul>
				<li>本　社／東京都新宿区新宿5丁目8番1号</li>
				<li>電　話／03-5360-2011</li>
				<li>横浜支店／神奈川県横浜市中央区弁天通2丁目26番地2 日神横浜ビル</li>
				<li>電　話／045-222-2911</li>
			</ul>
			<i>&copy;日神不動産　All Rights Reseved.</i>
		</div>
		<ul class="menu-wrapper clearfix">
			<li class="menu1">
				<ul>
					<li class="home"><?php echo $this->Html->link('HOME', '/'); ?></li>
					<li class="area">
						<p>物件検索</p>
						<ul>
							<li class="tokyo"><?php echo $this->Html->link('東京都', '/tokyo/'); ?></li>
							<li class="kanagawa"><?php echo $this->Html->link('神奈川県', '/kanagawa/'); ?></li>
							<li class="saitama"><?php echo $this->Html->link('埼玉県', '/saitama/'); ?></li>
							<li class="chiba"><?php echo $this->Html->link('千葉県', '/chiba/'); ?></li>
							<li class="all"><?php echo $this->Html->link('物件一覧', '/all/'); ?></li>
						</ul>
					</li>
					<li class="record"><?php echo $this->Html->link('分譲実績', 'http://www.nisshinfudosan.com/bukken/', array('target'=>'_blank')); ?></li>
				</ul>
			</li>
			<li class="menu2">
				<ul>
					<li class="commitment-to-quality">
						<p>日神不動産の強み</p>
						<ul>
							<li class="total-support"><?php echo $this->Html->link('トータルサポート', 'http://www.nisshinfudosan.com/strong/', array('target'=>'_blank')); ?></li>
							<li class="quality-management"><?php echo $this->Html->link('グループ品質管理', 'http://www.nisshinfudosan.com/strong/strong1.html', array('target'=>'_blank')); ?></li>
							<li class="environmental-care-relief"><?php echo $this->Html->link('環境安心への配慮', 'http://www.nisshinfudosan.com/strong/strong2.html', array('target'=>'_blank')); ?></li>
						</ul>
					</li>
					<li class="bland">
						<p>マンションブランド</p>
						<ul>
							<li class="what-palacestage"><?php echo $this->Html->link('「パレステージ」シリーズとは？', '/aboutpalacestage/'); ?></li>
							<li class="palacestage"><?php echo $this->Html->link('PALACESTAGE', 'http://www.palacestage.com', array('target'=>'_blank')); ?></li>
							<li class="duostage"><?php echo $this->Html->link('DUOSTAGE', 'http://www.duostage.com', array('target'=>'_blank')); ?></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="menu3">
				<ul>
					<li class="blog"><?php echo $this->Html->link('マンションブログ', 'http://ns-blog.com', array('target'=>'_blank')); ?></li>
					<li class="blog"><?php echo $this->Html->link('マンション用語集', 'http://www.nisshinfudosan.co.jp/words/', array('target'=>'_blank')); ?></li>
					<li class="column">
						<p>Column</p>
						<ul>
							<li class="what-palacestage"><?php echo $this->Html->link('Brush up Life!', '/column/interior/', array('target'=>'_blank')); ?></li>
							<li class="palacestage"><?php echo $this->Html->link('私の住みたい街', '/column/town/', array('target'=>'_blank')); ?></li>
						</ul>
					</li>
					<li class="info"><?php echo $this->Html->link('会社情報', 'http://www.nisshinfudosan.com/', array('target'=>'_blank')); ?></li>
					<li class="regist"><?php echo $this->Html->link('パレステージクラブ会員登録', '/palacestage_club/', array('target'=>'_blank')); ?></li>
				</ul>
			</li>
		</ul>
	</div>
</div>