<div class="menu">
	<div class="floating-widget">
		<ul>
			<li class="area">
				<p>物件検索</p>
				<ul>
					<li class="tokyo"><?php echo $this->Html->link('東京都', '/tokyo/'); ?></li>
					<li class="kanagawa"><?php echo $this->Html->link('神奈川県', '/kanagawa/'); ?></li>
					<li class="saitama"><?php echo $this->Html->link('埼玉県', '/saitama/'); ?></li>
					<li class="chiba"><?php echo $this->Html->link('千葉県', '/chiba/'); ?></li>
				</ul>
			</li>
			<li class="all"><?php echo $this->Html->link('物件一覧', '/all/'); ?></li>
			<li class="blog"><?php echo $this->Html->link('マンションブログ', 'http://ns-blog.com', array('target'=>'_blank')); ?></li>
			<li class="company-info"><?php echo $this->Html->link('会社情報', 'http://www.nisshinfudosan.com/', array('target'=>'_blank')); ?></li>
			<li class="regist"><?php echo $this->Html->link('会員登録', '/palacestage_club/', array('target'=>'_blank')); ?></li>
		</ul>
	</div>
</div>